.container {
    border-radius: 10px;
    margin: 0 auto;
    height: 600px;
    width: 1400px;
    padding: 20px;
    text-align: left;
    font-family: var(--font-roboto);
    background-color: var(--color-chocolate-100);
}
h1 {
    margin-bottom: 10px;
    margin-left: 50px;
    align-items: left;
}
form {
    display: left;
    flex-direction: column;
    align-items: left;
    margin-left: 100px;
}
label {
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"] {
    width: 30%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
button {
    background-color: var(--color-teal-200);
    color: white;
    padding: 15px 141px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.husoslika {
  display: right;
  align-items: right;
  height: 600px;
  width: 700px;

}
button:hover {
    background-color: #3e8e41;
}